[user]
    name = Joe Miner
    email = joe.miner@mst.edu
[core]
    editor = vim
[color]
    ui = true
    status = auto
    branch = auto
[push]
    default = simple
[credential]
    helper = cache --timeout 28800
[merge]
    tool = vimdiff
    conflictstyle = diff3
[mergetool]
    prompt = false
[alias]
    br = branch
    ci = commit
    cl = clean -fxd
    co = checkout
    cob = checkout -b
    cp = cherry-pick
    di = diff
    hist = "log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short"
    lol = "log --graph --decorate --pretty=oneline --abbrev-commit"
    lola = "log --graph --decorate --pretty=oneline --abbrev-commit --all --date=local"
    ls = log --stat -m
    st = status
    stats = shortlog -n -s --no-merges
