[user]
	name = Joe Miner
	email = joe.miner@mst.edu 
[core]
	editor = vim
[color]
	status = auto
	branch = auto
[push]
	default = matching
[credential]
	helper = cache --timeout 28800
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
